FileManager.pro.user
fenetre - Copie.cpp
fenrecherche - Copie.cpp
*.manifest

Rapport projet SE - Djoumessi Aurel 3GI.docx
Rapport projet SE - Djoumessi Aurel 3GI.pdf

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

/other_images

# Java compiled #
#################
*.class

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Eclipse ###
bin/
*.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.mvn/
deploy/
